.pull-right
  %siteheader{:back => "back", :forward => "forward"}

%div{:'ng-view'=> true}
.container-fluid
  .row-fluid
    %h1
      Pagination
    .col-sm-6
      %a.btn.btn-primary{href: '#/restaurants/new'}      
        Add  
    .row{:'ng-controller' => 'PaginationsCtrl'}
      %table.table.table-striped{ :'ng-show' => "restuarents.length"}
        %thead
          %tr
            %th
              Name
            %th
              Desc
        %tbody
          %tr{"ng-repeat" => "restuarent in restuarents | offset: currentPage*itemsPerPage |limitTo:itemsPerPage"}
            %td
              {{restuarent.id}} 
            %td
              {{restuarent.name}}
            %td
              %a{:'ng-href' => "#/restaurants/{{$index}}", class: 'btn btn-warning'}
                Edit
            %td
              %a{:'ng-href' => "#/restaurants/{{$index}}/delete", class: 'btn btn-danger'}
                Delete
        %tfoot
          %td
            %ul.pagination
              %li{"ng-class" => "prevPageDisabled()"}
                %a{:href => "", "ng-click" => "prevPage()"} « Prev
              %li{"ng-class" => "{active: n == currentPage}", "ng-click" => "setPage(n)", "ng-repeat" => "n in range()"}
                %a{:href => "#"} {{$index}}
              %li{"ng-class" => "nextPageDisabled()"}
                %a{:href => "", "ng-click" => "nextPage()"} Next »
         
         
      
