%div{:'ng-view'=> true}
.container-fluid
  .row-fluid
    %h1
      Pagination
    .col-sm-6
      %a.btn.btn-primary{href: '#/restaurants/new'}      
        Add  
    .row{:'ng-controller' => 'PaginationsCtrl'}
      %table.table.table-striped{ :'ng-show' => "restuarents.length"}
        %thead
          %tr
            %th
              Name
            %th
              Desc
        %tbody
          %tr{"ng-repeat" => "restuarent in restuarents"}
            %td
              {{restuarent.id}} 
            %td
              {{restuarent.name}}
            %td
              %a{:'ng-href' => "#/restaurants/{{$index}}", class: 'btn btn-warning'}
                Edit
            %td
              %a{:'ng-href' => "#/restaurants/{{$index}}/delete", class: 'btn btn-danger'}
                Delete
         
         
      
