%form{:'ng-submit' => 'addrestuarant()', class: 'form-horizontal'}
  .form-group
    %label{:for => "inputName"} 
      Name
    %input#inputEmail.form-control{:placeholder => "Name", :type => "text", :'ng-model' => 'restaurant.name'}/
  .form-group
    %label{:for => "inputDesc"} 
      Desc
    %input#inputPassword.form-control{:placeholder => "Desc", :type => "text", ':ng-model' => 'restaurant.desc'}/ 
  .row
    %button{type: 'submit', class: 'btn btn-primary'}
      Save
  
